## Deliverable 2. Create a Customer Travel Destinations Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [14]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Glamsbjerg,DK,55.2724,10.1048,65.64,90,55,10.07,broken clouds
1,1,Mayo,US,38.8876,-76.5119,80.94,80,75,3.44,broken clouds
2,2,San%20Patricio,US,28.0170,-97.5169,86.54,71,100,11.95,overcast clouds
3,3,Vanavara,RU,60.3400,102.2797,47.68,87,100,2.98,overcast clouds
4,4,Bluff,NZ,-46.6000,168.3333,47.21,66,50,21.68,scattered clouds

In [15]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Enter the Minimum tempature for your vacation."))
max_temp = float(input("Enter the Maximum tempature for your vacation."))

Enter the Minimum tempature for your vacation.50
Enter the Maximum tempature for your vacation.70

In [16]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
cities_summery_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
cities_summery_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Glamsbjerg,DK,55.2724,10.1048,65.64,90,55,10.07,broken clouds
5,5,Kodiak,US,57.7900,-152.4072,54.91,94,100,11.50,light rain
8,8,Talnakh,RU,69.4865,88.3972,58.21,94,100,7.36,light rain
10,10,Puerto%20Ayora,EC,-0.7393,-90.3518,66.54,94,70,5.99,broken clouds
18,18,Busselton,AU,-33.6500,115.3333,54.95,64,100,12.01,overcast clouds
21,21,Codrington,AU,-38.2667,141.9667,50.09,86,100,16.20,overcast clouds
24,24,Tuktoyaktuk,CA,69.4541,-133.0374,55.40,67,100,12.66,overcast clouds
25,25,Port%20Alfred,ZA,-33.5906,26.8910,67.80,45,0,10.94,clear sky
26,26,East%20London,ZA,-33.0153,27.9116,65.01,48,0,10.11,clear sky
28,28,Ambam,CM,2.3833,11.2833,68.25,99,100,2.98,light rain
30,30,Iquique,CL,-20.2208,-70.1431,57.24,74,47,4.12,scattered clouds
32,32,Yellowknife,CA,62.4560,-114.3525,59.56,36,75,11.50,broken clouds
34,34,Castro,BR,-24.7911,-50.0119,50.34,96,3,5.08,clear sky
36,36,Broome,US,42.2506,-75.8330,68.70,95,20,3.44,few clouds
37,37,Arys,KZ,42.4252,68.7950,68.11,23,0,5.55,clear sky
38,38,Severo-Kurilsk,RU,50.6789,156.1250,55.99,97,100,12.95,light rain
39,39,Hermanus,ZA,-34.4187,19.2345,60.80,54,14,7.90,few clouds
42,42,Port%20Lincoln,AU,-34.7333,135.8667,56.61,63,30,14.23,scattered clouds
43,43,Chuy,UY,-33.6971,-53.4616,54.66,94,91,5.77,overcast clouds
44,44,Thompson,CA,55.7435,-97.8558,57.36,44,0,4.61,clear sky
48,48,Bredasdorp,ZA,-34.5322,20.0403,59.05,39,1,6.82,clear sky
51,51,Swan%20Hill,AU,-35.3378,143.5544,52.07,66,100,11.81,overcast clouds
55,55,Strai,NO,58.2000,7.9000,60.64,88,100,11.50,light intensity drizzle
58,58,Luderitz,NaN,-26.6481,15.1594,59.40,55,0,1.86,clear sky
59,59,Shache,CN,38.4167,77.2406,69.71,71,41,2.59,scattered clouds
66,66,Esperance,AU,-33.8667,121.9000,55.18,63,42,3.09,scattered clouds
67,67,Beloha,MG,-25.1667,45.0500,64.33,86,0,10.78,clear sky
68,68,Turtas,RU,58.9417,69.1325,61.34,92,94,4.27,overcast clouds
71,71,Namibe,AO,-15.1961,12.1522,61.02,92,41,9.46,scattered clouds
74,74,Koboko,UG,3.4136,30.9599,60.35,96,52,4.43,broken clouds
78,78,Kisangani,CD,0.5167,25.2000,67.48,90,96,1.68,overcast clouds
84,84,Gornopravdinsk,RU,60.0500,69.9000,61.95,87,7,5.84,clear sky
86,86,Leh,IN,34.1667,77.5833,60.49,58,30,5.68,scattered clouds
90,90,Port%20Elizabeth,ZA,-33.9180,25.5701,62.31,55,0,4.00,clear sky
91,91,Cidreira,BR,-30.1811,-50.2056,61.02,92,84,16.60,broken clouds
94,94,Bondo,CD,3.8146,23.6866,65.55,99,100,1.52,overcast clouds
96,96,Sembe,CG,1.6481,14.5806,68.09,99,72,0.31,light rain
99,99,Kharp,RU,66.8014,65.8081,62.47,83,100,5.01,overcast clouds
101,101,Wadi%20Maliz,TN,36.4681,8.5495,69.46,83,0,2.21,clear sky
103,103,Mar%20Del%20Plata,AR,-38.0023,-57.5575,53.87,84,0,8.99,clear sky
105,105,Inhambane,MZ,-23.8650,35.3833,65.25,86,46,6.46,light rain
107,107,Dauriya,RU,49.9333,116.8667,66.24,37,100,10.60,overcast clouds
110,110,Kang,BW,-23.6752,22.7876,50.92,43,0,9.73,clear sky
111,111,Tazovskiy,RU,67.4667,78.7000,57.65,79,85,14.70,overcast clouds
112,112,Lasa,IT,46.6166,10.7002,51.69,74,7,4.14,clear sky
113,113,Hobart,AU,-42.8794,147.3294,55.26,71,75,16.11,broken clouds
114,114,The%20Pas,CA,53.8251,-101.2541,68.02,60,40,8.05,scattered clouds
115,115,Chapais,CA,49.7834,-74.8492,64.18,71,80,1.81,broken clouds
116,116,Coquimbo,CL,-29.9533,-71.3436,53.33,87,0,5.75,clear sky
117,117,Jamestown,US,42.0970,-79.2353,69.39,64,0,8.05,clear sky
118,118,Vangaindrano,MG,-23.3500,47.6000,64.83,89,64,1.05,light rain

In [17]:
# 4a. Determine if there are any empty rows.
cities_summery_df.count()

City_ID        51
City           51
Country        50
Lat            51
Lng            51
Max Temp       51
Humidity       51
Cloudiness     51
Wind Speed     51
Description    51
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
cities_summery_clean_df = cities_summery_df.dropna()

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cities_summery_clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Glamsbjerg,DK,65.64,broken clouds,55.2724,10.1048,
5,Kodiak,US,54.91,light rain,57.7900,-152.4072,
8,Talnakh,RU,58.21,light rain,69.4865,88.3972,
10,Puerto%20Ayora,EC,66.54,broken clouds,-0.7393,-90.3518,
18,Busselton,AU,54.95,overcast clouds,-33.6500,115.3333,
21,Codrington,AU,50.09,overcast clouds,-38.2667,141.9667,
24,Tuktoyaktuk,CA,55.40,overcast clouds,69.4541,-133.0374,
25,Port%20Alfred,ZA,67.80,clear sky,-33.5906,26.8910,
26,East%20London,ZA,65.01,clear sky,-33.0153,27.9116,
28,Ambam,CM,68.25,light rain,2.3833,11.2833,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    latitude = row["Lat"]
    longitude = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    params["location"] = f"{latitude},{longitude}"
   

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    print(hotels)
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.

{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.
{'error_message': 'This API key is not authorized to use this service or API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Hotel not found... skipping.

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Glamsbjerg,DK,65.64,broken clouds,55.2724,10.1048,
5,Kodiak,US,54.91,light rain,57.7900,-152.4072,
8,Talnakh,RU,58.21,light rain,69.4865,88.3972,
10,Puerto%20Ayora,EC,66.54,broken clouds,-0.7393,-90.3518,
18,Busselton,AU,54.95,overcast clouds,-33.6500,115.3333,
21,Codrington,AU,50.09,overcast clouds,-38.2667,141.9667,
24,Tuktoyaktuk,CA,55.40,overcast clouds,69.4541,-133.0374,
25,Port%20Alfred,ZA,67.80,clear sky,-33.5906,26.8910,
26,East%20London,ZA,65.01,clear sky,-33.0153,27.9116,
28,Ambam,CM,68.25,light rain,2.3833,11.2833,

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv" 
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

KeyError: 'Current Description'

In [24]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

NameError: name 'locations' is not defined